.card{
    margin: 0;
    display: grid;
    background: var(--cinza);
    padding: 2rem 1rem;
    margin: 1rem;
    border-radius: 4px;
    cursor: pointer;
    color: var(--preto);
    text-decoration: none;
}

.card:hover{
    opacity: 0.6;
}

.card > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.card p{
    font-size: 1.8rem;
    font-weight: 700;
    margin: .5rem 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 12.5rem;
}

.card span{
    color: var(--grey);
    font-size: .7rem;
}

.card h2 {
    display: block;
    font-size: 1rem;
    color: var(--gray);
}